.mh-loop-content .mh-loop-header h3.mh-loop-title {
  font-size: 16px;
  text-align: justify; }
.mh-loop-content .mh-loop-excerpt {
  text-align: justify; }

.mh-loop-thumb a .img_blog {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto; }

/*# sourceMappingURL=list_news.css.map */
