.mh-widget-col-1 .mh-posts-focus-item {
  padding-bottom: 0px !important; }

.mh-widget-col-2 .mh-posts-focus-item {
  padding-bottom: 0px !important; }

/*# sourceMappingURL=quan_he_co_dong.css.map */
