@media(min-width:993px) and (max-width: 1120px) {
	.header-search--desktop {
		.btn{
			padding: 4px 12px !important;
		}
	}

	#menu-menu-main li:last-child:after {
        height: 30px;
    }
}

@media(min-width:768px) and (max-width: 992px) {
	.contai_img {
		.content {
			.col-item-md {
				width: 33.333%;
			}
		}
	}
	/* menu */
	nav.mh-navigation {
		ul.menu {
			li.menu-item {
				a {
					padding: 7.3px 11px;
				}
			}
		}
	}

	/* sidebar */
	.mh-widget-col-1 {
		.mh-widget {
			table.no-border {
				.title_td {
					padding: 0px;
					font-size: 12px;
				}
				.content_td {
					padding: 0px;
					font-size: 12px;
				}
			}
		}
	}

	/*FOR thuvien images*/
    .thuvienanh{
        .list-thuvien {
            .modal-dialog {
                width: 92%;
                max-width: 100%;
            }
        }
        .images-thuvien {
        	height: 180px;
        	max-height: 180px;
        }
    }
}


// @media(max-width:1024px){
// 	.mh-header{
// 		.mh-container-inner{
// 			.mh-custom-header{
// 				.header_company_city{
// 					.img_desc{
// 						.img_fea_2{
// 							display: none;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

@media(max-width:992px){
	.mh-header{
		.mh-container-inner{
			.mh-custom-header{
				.header_company_city{
					.img_desc{
						.img_fea_2{
							width: 330px;
						}
					}
				}
			}
		}
	}
}

@media(max-width:1366px){
	.mh-sidebar{
		.mh-widget.widget_text{
			.content_td{
				strong{
					a{
						color: red;
					}
				}
			}
		}
	}
}