$mobile_menu_border_color: rgba(244, 244, 244, 0.1);
@media(max-width: 768px) {
    .home {
        #main-content {
            .mh-posts-stacked-wrap {
                width: 100%;
            }
        }
    }
    .mh_shareholder_relations {
        .mh-posts-focus-wrap {
            .mh-posts-focus-meta,
            .mh-posts-focus-title {
                width: 100%;
            }
        }
    }
    .contai_img {
        .content {
            .col-item-md {
                width: 50%;
            }
        }
    }
}

@media(min-width: 768px) {
    .mh-footer {
        .mh-footer-1,
        .mh-footer-2,
        .mh-footer-3 {
            width: 31.6% !important;
        }
    }
}

@media(max-width: 767px) {
    .mh-navigation.mh-main-nav.mh-container.mh-container-inner {
        .menu-menu-main-container {
            display: none;
        }
    }
    .slicknav_nav {
        ul.menu {
            li.menu-item {
                border-bottom: 1px solid $mobile_menu_border_color;
                ul.sub-menu {
                    li {
                        &.menu-item {
                            border-bottom: 1px solid $mobile_menu_border_color;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:769px) {
    .mh-header {
        .mh-main-nav-wrap {
            background-color: transparent;
            .mh-main-nav {
                display: flex;
                justify-content: center;
                align-items: stretch;
                & > div:first-child {
                    float: left;
                    width: 100%;
                    ul.menu {
                        display: flex;
                        justify-content: center;
                        & > li.menu-item {
                            // width: 100%;
                            white-space: nowrap;
                            text-align: center;
                            flex-shrink: 0;
                            flex-grow: 1;
                            &:first-child {
                                max-width: 55px;
                            }
                        }
                    }
                }
            }
        }
        .header-search--desktop {
            display: flex;
            border-left: 1px solid rgba(255, 255, 255, 0.1);
            & > .btn.dropdown-toggle {
                // height: 34px;
                border-radius: 0;
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    /* menu */
    .mh-main-nav {
        li {
            a {
                padding: 10px 10px !important;
            }
        }
    }
    /*FOR thuvien video*/
    .thuvienvideo {
        .images-row {
            margin-right: 0px;
            .width-mobile {
                width: 96% !important;
                .category-image {
                    width: 96%;
                }
            }
        }
    }
    /*FOR thuvien images*/
    .thuvienanh {
        .list-thuvien {
            .modal-dialog {
                width: 97%;
                max-width: 100%;
            }
        }
        .images-row {
            margin-right: 0px;
            margin-left: 0px;
            .width-mobile {
                width: 96% !important;
                .category-image {
                    width: 96%;
                }
            }
        }
    }
    /*For widget*/
    .mh-widget {
        img {
            width: 100%;
        }
    }
    /* menu */
    .mh-header {
        display: block;
        .mh-main-nav-wrap {
            background-image: url(../../images/banner_thoat_nuoc_3.png);
            background-size: 100% 75px;
            background-position: top left;
            background-repeat: no-repeat;
            position: relative;
            position: relative;
            .custom-logo-link {
                img {
                    width: 75px;
                    position: absolute;
                    top: 0;
                    left: 0px;
                    height: 75px;
                }
            }
            .slicknav_menu {
                border: none;
                .slicknav_btn {
                    margin: 23px 5px 23px;
                }
            }
        }
    }
}

@media(max-width: 770px) {
    .slicknav_nav {
        ul.menu {
            li {
                a {
                    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
                    font-size: 14px;
                    line-height: 33px;
                }
            }
        }
    }
    .slicknav_nav {
        a {
            padding: unset !important;
        }
    }
}

@media(max-width:768px) {
    .mh-header {
        .mh-container-inner {
            .mh-custom-header {
                .header_company_city {
                    .info_header {
                        width: 500px !important;
                        max-width: 480px;
                    }
                }
            }
        }
    }
}
