@media(min-width:993px) and (max-width: 1200px) {
	.mh-header 
	{
		.mh-container-inner {
			.mh-custom-header {
				.header_company_city {
					.img_desc {
						.img_fea_2 {
							width: 330px;
						}
					}
				}
			}
		}
	}
}

@media(max-width:1100px){
	.mh-header{
		.mh-container-inner{
			.mh-widget-custom{
				padding-left: 0px;
			}
		}
	}
}

@media(max-width:1024px){
	.mh-header{
		.mh-container-inner{
			.mh-custom-header{
				.header_company_city{
					.info_header{
						padding-top:0px;
					}
				}
			}
		}
	}
}