$color_core: #ddeff9;
$color_black: black;
$color_blue: blue;
$color_logo: #0a64a2;
$color_logo_hover: #4e8ab3;
// $color_logo2: #363F83;
$color_logo2: #10406D;
$color_red: #E70B14;
// $color_banner: #5EB2FF;
// $color_banner: #90C7F5;
$color_banner: rgb(242,245, 247);

@font-face {
	font-family: arial;
	src: url(../../fonts/arial.ttf);
}
@font-face {
	font-family: vnhels;
	src: url(../../fonts/VHHELS.TTF);
}

body, p {
    font-family: arial !important;
}
.hidden {
	display: none;
}
.bg_trans {
	background-size:cover;
	background-position: center;
	width: 100%;
	height:auto;
}

.wrap_paginate {
	clear:left;
	overflow:auto;
	.paginate {
		a {
			background: lightgray;
		}
		span {
			background: #e64946;
		}
	}
}
.mh-widget-title {
	border-bottom: 3px solid $color_logo !important;
	span {
		font-size: 14px;
	}
}
.entry-header {
	h1 {
		font-size: 16px;
	}
}
.widget_breadcrumb_navxt {
	margin-bottom: 0 !important;
	text-transform: initial;
}

#respond {
	.comment-reply-title {
		text-transform: uppercase;
	    font-size: 16px !important;
	    margin-bottom: 5px !important;
	}
}

#commentform {
	p {
		margin-bottom: 0px !important;
	}
	.form-submit {
		margin: 0px !important;
	}
}

nav.mh-navigation {
	ul.menu {
		li.menu-item {
			a {
				font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
				background-color: rgb(1,69,119);
			}
		}
	}
}
.no-border {
	border: none;
	margin-bottom: 0px;
	th {
		border: none;
	}
	tr {
		border: none;
		td {
			border: none;
		}
	}
}

.pad-l-0 {
    padding-left: 0px;
}
.pad-r-0 {
    padding-right: 0px;
}
.pad-t-0 {
    padding-top: 0px;
}
.pad-bt-0 {
    padding-bottom: 0px;
}

.pad-l-0-i {
    padding-left: 0px !important;
}
.pad-r-0-i {
    padding-right: 0px !important;
}
.pad-t-0-i {
    padding-top: 0px !important;
}
.pad-bt-0-i {
    padding-bottom: 0px !important;
}

.mgr-l-0 {
    margin-left: 0px;
}
.mgr-r-0 {
    margin-right: 0px;
}
.mgr-t-0 {
    margin-top: 0px;
}
.mgr-bt-0 {
    margin-bottom: 0px;
}

.mgr-l-0-i {
    margin-left: 0px !important;
}
.mgr-r-0-i {
    margin-right: 0px !important;
}
.mgr-t-0-i {
    margin-top: 0px !important;
}
.mgr-bt-0-i {
    margin-bottom: 0px !important;
}