.entry-tags {
	li {
	    background: #13A2E2 !important;
	    a {
	    	text-transform: lowercase;
	    }
	    &:hover {
	    	background: #e64946 !important;
	    }
	}
}

#main-content {
	.mh-post-nav {
		display: none;
	}
}

// ======================
// detail news

.entry-content{
	p{
		text-align: justify;
	}
}

span.entry-meta-categories{
	display:none;
}