body {
    .mh-copyright-wrap {
        background: $color_logo;
        .mh-copyright {
        	color: #fff;
        }
    }
}
.mh-footer {
	background: #DCEDF7 !important;
	padding: 12px 25px 0px !important;
	.mh-footer-widgets {
		.mh-footer-area {
			padding-right: 0px !important;
			padding-left: 0px !important;
			&.col-2 {}
		}
		.widget_text {

		}
		.header_company_city {
			color: $color_logo2;
			h3 {
				color: $color_logo2;
			    margin-bottom: 5px;
			    font-size: 16px;
			}
			.info_header {
				margin-bottom: 10px;
				text-align: justify;
			}
		}
		.widget_text {
			color: $color_logo;
		}
		.mh-footer-widget {
	    	margin-bottom: 0px !important;
		}
	}
	.col-2 {
		.mh-footer-widget {
			.textwidget {
				padding-top: 25px;
				ul {
					margin-bottom: 10px;
				}
			}
		}	
	}
}