$menu_border_color: rgba(70, 122, 181, 1);
.mh-site-logo {
    height: 100px;
    img {
        height: 100%;
        width: auto;
    }
}

.mh-header {
    .mh-container-inner {
        .mh-custom-header {
            background-image: url('../../images/banner_thoat_nuoc_3.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            height: 108px;
            .mh-site-identity {
                float: left;
                .mh-site-logo {
                    padding: 0px;
                    height: 108px;
                    ;
                }
            }
            .header_company_city {
                width: 100%;
                float: left;
                color: #394285;
                h3 {
                    margin-bottom: 5px;
                    font-size: 16px;
                    color: #394285;
                }
                .info_header {
                    float: left;
                    padding-top: 10px;
                    width: 470px !important;
                    max-width: 470px;
                    overflow: hidden;
                }
                .sync_img {
                    float: left;
                    margin-left: 20px;
                    padding-top: 20px;
                }
                .img_desc {
                    float: right;
                    /*margin-right: 30px;*/
                    .img_fea_1 {
                        /*transform: skew(-30deg);
                        border-left: 5px solid #dcedf7;*/
                        display: block;
                        float: left;
                        height: 108px;
                        width: 145px;
                    }
                    .img_fea_2 {
                        /*transform: skew(-30deg);
                        border-left: 5px solid #dcedf7;
                        border-right: 5px solid #dcedf7;*/
                        display: block;
                        float: left;
                        height: 108px;
                        width: 365px;
                    }
                }
            }
        }
        .mh-widget-custom {
            margin-bottom: 0px;
            padding-left: 30px;
        }
    }
    .mh-main-nav-wrap {
        background: #014577;
        .mh-main-nav {
            border-bottom: none;
            text-transform: initial;
            display: flex;
            justify-content: center;
            background-color: rgb(1, 69, 119);
            align-items: stretch;
            ul {
                li {
                    &:hover {
                        a {
                            background: rgb(1, 69, 119);
                        }
                    }
                    a {
                        text-align: left;
                    }
                }
            }
        }
    }
}

.mh-main-nav>ul.menu {
    max-height: 34px;
}

.mh-main-nav .menu>.current-menu-item {
    background: $color_logo_hover !important;
}

.menu-menu-main-container {
    .menu-item-home {
        .dashicons-admin-home ~ span {
            display: none;
        }
    }
}

.mh-main-nav {
    ul {
        &>li:hover {
            &>ul.sub-menu {
                background: #4e8ab3 !important;
                li {
                    &.menu-item {
                        border-bottom: 1px solid $menu_border_color;
                        a {
                            font-weight: 500;
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
                &>li.menu-item:hover {
                    a {
                        background: $color_logo;
                    }
                }
            }
        }
        li {
            a {
                padding: 6px 20px;
            }
        }
    }
}

.slicknav_nav {
    margin-bottom: 0px !important;
    ul.menu {
        padding: 0;
        border-top: none !important;
        li {
            a {
                font-weight: 700;
            }
        }
    }
    ul.menu {
        border-top: 1px solid #4ba1dc;
        li.menu-item {
            border-bottom: 1px solid $menu_border_color;
            &:last-child {
                border-bottom: none;
            }
            ul.sub-menu {
                background: #2969B0 !important;
                padding-left: 0px;
                li {
                    &.menu-item {
                        padding-left: 20px;
                        border-bottom: 1px solid $menu_border_color;
                        a {
                            font-weight: 500;
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

footer.mh-footer {
    // background: $color_core;
    background: $color_banner !important;
    color: $color_black;
    a {
        color: $color_blue;
    }
}

_:-ms-fullscreen,
:root .menu-menu-main-container ul li a {
    text-transform: none;
}

_:-ms-fullscreen,
:root .breadcrumbs span {
    text-transform: none;
}

@media(max-width:767px) {
    _:-ms-fullscreen,
    :root .menu-menu-main-container ul li a {
        padding: 0px
    }
}

#menu-menu-main {
    li:first-child {
        span {
            display: none;
        }
    }
    li:last-child {
        position: relative;
    }
    // li:last-child:after {
    //     content: "";
    //     position: absolute;
    //     width: 1px;
    //     height: 34px;
    //     background: #014577;
    //     top: 0px;
    //     right: -1px;
    //     z-index: 9;
    // }
}
