.home {
    .mh-home {
        .mh-content {
            .mh-posts-stacked-wrap {
                margin-bottom: 20px;
                height: 390px;
                .cate_title {
                    display: inline-block;
                }
                ul {
                    li {
                        margin-bottom: 10px;
                        clear: left;
                        margin-bottom: 10px;
                        display: inline-block;
                        width: 100%;
                        img {
                            width: 70px;
                        }
                        .title {
                            padding-right: 10px;
                            display: block;
                            height: 47px;
                            overflow: hidden;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}

.mh-posts-stacked-thumb {
    ul {
        li {}
    }
}

.mh_media {
    margin-bottom: 0 !important;
    .content {
        margin-bottom: 25px;
    }
}

.mh-wrapper {
    .mh-sidebar {
        #text-5, #text-9 {
            .textwidget {
                // background: #DCEDF7;
                background: $color_banner;
                padding: 10px;
                border-radius: 10px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}

.mh-slider-caption {
    display: none !important;
}

.breadcrumbs{
    span{
        a{
            font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
        }
    }
}

.mh-loop-title{
    a{
        font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    }
}

.mh-meta .entry-meta-author{
    display: none;
}

span.entry-meta-comments{
    display: none;
}

span.mh-meta-comments{
    display: none;
}

span.mh-meta-author.author.vcard{
    display: none;
}

.mh-widget-col-2 .mh-posts-focus-title-large{
    display: inline-block;
    width: 80%;
}

.mh_shareholder_relations .mh-posts-focus-wrap .mh-posts-focus-meta{
    min-width: 20% !important;
}