.contai_img {
    overflow: auto;
    padding: 25px 15px;
    h4.title {
    	padding: 15px 0;
    }
    .col-item-md {
        width: 25%;
        float: left;
        .conver {
            padding: 7px;
            a {
                position: relative;
                padding: 0px;
                background-color: #fff;
                /*box-shadow: 0 0 0 1px rgba(156, 156, 156, 1), 0 0 0 4px rgba(255, 255, 255, 0.3);
                box-shadow: 0 0 0 5px rgba(212, 212, 212, 0.5), 0 0 20px 5px rgba(41, 105, 176, 1); 
                box-shadow: 0 0 0 5px rgba(128, 128, 128, 0.5), 0 0 20px 5px rgba(41, 105, 176, 1);*/
                border: 3px solid #fff;
                box-shadow: 1px 0px 8px 2px #888888;
                display: block;
                margin-bottom: 20px;
                line-height: 12px;
                transition: all 0.5s ease;
                position: relative;
                img {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    float: none;
                    /*border: 1px solid rgb(215, 215, 215);*/
                    opacity: 1;
                }
                h3 {
                    background-color: rgba(41, 105, 176, 0.8);
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    color: #fff;
                    margin: 0;
                    line-height: 16px;
                    padding: 5px;
                    position: absolute;
                    /* width: 100%; */
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            &:hover {
            	h3 {
            		padding-top: 15px;
            		padding-bottom: 15px;
            		transition: all 0.5s ease;
            	}
            }
        }
    }
}