.mh-widget-title {
	.mh-widget-title-inner {
		.page-title {
			font-size: 16px;
		}
	}
}

.mh_shareholder_relations {
	.mh-posts-focus-wrap {
		.mh-posts-focus-meta {
			min-width: 170px;
			float: left;
			padding-top: 13px;
		}
		.mh-posts-focus-title {
			a {
				font-size: 14px;
			}
		}
	}
}

.not_fout{
	font-size: 14px;

	#bcn_widget-2{
		border-bottom: 3px solid #0a64a2 !important;
		margin-bottom: 20px !important;
	}

	.breadcrumbs{
		padding-bottom: 2px;
		
		span{
			a{
				font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
				font-weight: 700;
			}
		}
	}
}