.thuvienvideo{
	aside {
		width: 100% !important;
	}
	.news-list {
		margin-bottom: 20px;
		.heading {
			border-bottom: 1px solid #bdc3c7;
		    font-family: arial;
		    font-size: 14px;
		    font-weight: bold;
		    text-transform: uppercase;
			p {
				border-bottom: 3px solid $color_logo;
			    display: inline-block;
			    margin-bottom: 0px;
			}
		}
	}
	images-row {
		.width-mobile {
			width: 90%;
		}
	}
	.name-anh{
	    font-weight: bold;
	    font-size: 12px;
    	text-align: center;
	    text-transform: uppercase;
	    color:$color_logo;
	    margin-bottom: 0px;
	    margin-top: 10px;
	}
	.date{
	    font-style: italic;
	    color:$color_logo;
	    font-size: 12px;
		text-align: center;
	}
	.images-thuvien{
	    margin:0 auto;
	    width:100%;
	    height: 100%;
    	max-height: 150px;
	}

	.list-thuvien{
		margin-left: 5px;
	}

	.category-image{
		position:relative;
		border: 3px solid #fff;
    	box-shadow: 1px 0px 8px 2px #888888;
	    cursor: pointer;
		.number-images{
		    position: absolute;
		    border: 1px solid #a1a1a1;
		    background: #645f5f;
		    border-radius: 5px;
		    left: 10px;
		    bottom: 10px;
		    height: 21px;
		    padding-bottom: 25px;
		    width: 57px;
		    font-style: italic;
		    color:#fff;
		}
		iframe {
			width: 100%;
		    height: 200px;
		}
	}

	.pagination2{
    	height: 80px;
    	position: relative;
    	margin-top: 20px;
	}
	.pagination2{
		nav{
			.current {
		    background: #00ADEE;
		    color: #fff;
		    }
		}

	}


	.pagination2{
		nav{
			.page-numbers{
				position: relative;
			    display: inline-block;
			    padding: .5rem .75rem;
			    margin-left: -1px;
			    line-height: 1.25;
			    color: #0275d8;
			    background-color: #fff;
			    border: 1px solid #ddd;
			    margin-left: 0;
			    border-bottom-left-radius: .25rem;
			    border-top-left-radius: .25rem;
			}
		}
	}
	.pagination2{
		nav{
			.current{
				a{
					color:#fff;
				}
			}
		}
	}
	.pagination2{
		.phantrang{
			position: absolute;
			left: 30%;
		}
	}

	.pagination2{
		nav{
			.current{
				background: #00ADEE;
    			color: #fff;
			}
		}
	}

	.list-thuvien{
		.modal-dialog{
			padding-top: 2%;
			max-width: 90%;
		    width: 60%;
			height: 100%;
			max-height: 900px;
		}
	}

	.d-block{
	    width: 100%;
	    height: 100%;
	    margin: 0 auto;
	}
}

