.mh-sidebar {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
	.mh-widget.widget_text {
		.mh-widget-title {
			.mh-widget-title-inner {
				color: $color_red;
			}
		}
		.title_td {
			color: $color_logo2;
		}
		.content_td {
			color: $color_red;
			text-align: right;
		}
	}
	img {
		width: 100%;
	}
}