@media(max-width: 480px) {
    .contai_img {
        .content {
            .col-item-md {
                width: 100%;
            }
        }
    }
    .mh-custom-header {
        height: auto !important;
        #info_base_wg-2 {
            margin-bottom: 0px !important;
            padding-left: 1px !important;
            font-size: 12px !important;
            .header_company_city {
                .info_header {
                    width: 100% !important;
                    padding-left: 12px !important;
                    h3 {
                        font-size: 13px;
                    }
                }
            }
        }
        .mh-site-identity {
            padding-left: 0px !important;
            padding-right: 0px !important;
            width: 100%;
        }
    }
    /*FOR thuvien video*/
    .thuvienvideo {
        .images-row {
            margin-right: 0px;
            .width-mobile {
                width: 90% !important;
                .category-image {
                    width: 96%;
                }
            }
        }
    }
    /*FOR thuvien images*/
    .thuvienanh {
        .list-thuvien {
            .modal-dialog {
                width: 94%;
                max-width: 100%;
            }
        }
        .images-row {
            margin-right: 0px;
            margin-left: 0px;
            .width-mobile {
                padding-left: 10px !important;
                width: 90% !important;
                .category-image {
                    width: 96%;
                }
            }
        }
    }
    /*For widget*/
    .mh-widget {
        img {
            width: 100%;
        }
    }
    /* menu */
    .slicknav_nav {
        margin-bottom: 0px !important;
        ul.menu {
            padding: 0;
            border-top: none !important;
            li {
                a {
                    font-weight: 700;
                }
            }
        }
        ul.menu {
            border-top: 1px solid #4ba1dc;
            li.menu-item {
                ul.sub-menu {
                    background: $color_logo_hover;
                    li {
                        &:last-child {
                            border-bottom: none;
                        }
                        a {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    .mh-header {
        .mh-main-nav-wrap {
            background-image: url(../../images/banner_thoat_nuoc_3.png);
            background-size: 100% 75px;
            background-position: top left;
            background-repeat: no-repeat;
            position: relative;
            position: relative;
            .custom-logo-link {
                img {
                    width: 75px;
                    ;
                    position: absolute;
                    top: 0;
                    left: 0px;
                    height: 75px;
                }
            }
            .slicknav_menu {
                border: none;
                .slicknav_btn {
                    // margin: 0px !important;
                }
            }
        }
    }
}

@media(max-width:320px) {
    .mh-sidebar {
        .mh-widget.widget_text {
            .title_td {
                padding-right: 0px;
            }
        }
    }
    .mh-sidebar {
        .mh-widget.widget_text {
            .content_td {
                padding-left: 0px;
            }
        }
    }
}
